<section class="filters-card" dir="rtl">
  <div class="filters-row-primary">
    <div class="form-group search-group">
      <label>بحث</label>
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="يمكنك البحث بكود المعاملة، اسم المنشأة، عنوان المنشأة، اسم مقدم الطلب، الرقم القومي، اسم المدير المسؤول، رقم الهاتف."
        (keyup.enter)="search()"
      />
    </div>

    <div class="form-group">
      <label>التاريخ من</label>
      <input type="date" [(ngModel)]="submissionDateFrom" />
    </div>

    <div class="form-group">
      <label>التاريخ إلى</label>
      <input type="date" [(ngModel)]="submissionDateTo" />
    </div>
  </div>

  <div class="filters-row-secondary">
    <div class="form-group">
      <label>الجهة الطالبة</label>
      <select [(ngModel)]="requestingEntityId">
        <option value="">كل الجهات</option>
        <option *ngFor="let entity of requestingEntities" [value]="entity.id">
          {{ entity.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>المركز</label>
      <select [(ngModel)]="districtId" [disabled]="isDistrictLocked">
        <option value="">كل المراكز</option>
        <option *ngFor="let district of districts" [value]="district.id">
          {{ district.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>نوع النشاط</label>
      <select [(ngModel)]="activityTypeId">
        <option value="">كل الأنشطة</option>
        <option *ngFor="let activity of activityTypes" [value]="activity.id">
          {{ activity.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>حالة الإرجاع</label>
      <select [(ngModel)]="isReturned">
        <option value="">الكل</option>
        <option value="true">مرتجعة</option>
        <option value="false">غير مرتجعة</option>
      </select>
    </div>
  </div>

  <div class="filter-actions">
    <button type="button" class="search-btn" (click)="search()">بحث</button>

    <button type="button" class="reset-btn" (click)="resetFilters()">
      إعادة ضبط
    </button>
  </div>
</section>

<section class="table-card" dir="rtl">
  <div class="table-header">
    <h3>قائمة المعاينات</h3>
    <p>إجمالي النتائج: {{ totalCount }}</p>
  </div>

  <div class="loading-box" *ngIf="isLoading">
    جاري تحميل معاملات المعاينة...
  </div>

  <div class="message error" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <div
    class="empty-box"
    *ngIf="!isLoading && items.length === 0 && !errorMessage"
  >
    لا توجد معاملات معاينة.
  </div>

  <div class="table-scroll" *ngIf="!isLoading && items.length > 0">
    <table>
      <thead>
        <tr>
          <th>كود المعاملة</th>
          <th>تاريخ تقديم الطلب</th>
          <th>اسم المنشأة</th>
          <th>عنوان المنشأة</th>
          <th>الجهة الطالبة</th>
          <th>المركز</th>
          <th>نوع النشاط</th>
          <th>مقدم الطلب</th>
          <th>الحالة</th>
          <th>الإجراءات</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of items">
          <td class="transaction-code">{{ item.transactionCode }}</td>
          <td>{{ item.submissionDate }}</td>
          <td>{{ item.establishmentName }}</td>
          <td>{{ item.establishmentAddress }}</td>
          <td>{{ item.requestingEntity }}</td>
          <td>{{ item.district }}</td>
          <td>{{ item.activityType }}</td>
          <td>{{ item.applicantName }}</td>
          <td>
            <span class="status-badge" [class.returned]="item.isReturned">
              {{ item.isReturned ? "مرتجعة" : "غير مرتجعة" }}
            </span>
          </td>

          <td class="actions-cell">
            <div class="row-actions">
              <button
                type="button"
                class="edit-btn"
                (click)="requestEdit(item)"
              >
               إجراء المعاينة
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination" *ngIf="!isLoading && totalPages > 0">
    <button
      type="button"
      (click)="previousPage()"
      [disabled]="!hasPreviousPage"
    >
      السابق
    </button>

    <span> صفحة {{ pageNumber }} من {{ totalPages }} </span>

    <button type="button" (click)="nextPage()" [disabled]="!hasNextPage">
      التالي
    </button>
  </div>
</section>
