<div class="popup-container" dir="rtl">
  <div class="popup-header">
    <div class="header-right">
      <div class="header-icon">+</div>
      <div class="header-titles">
        <span class="sub-title">إدارة الجهات</span>
        <h2>إضافة جهة</h2>
      </div>
    </div>
    <button type="button" class="close-btn" (click)="cancel()">✕</button>
  </div>

  <div class="form-body">
    <div class="form-grid">
     <div class="field">
  <label>كود الجهة</label>
  <input
    type="number"
    min="1"
    (keydown)="preventNegative($event)"
    [(ngModel)]="formModel.code"
    name="code"
    placeholder="مثال: 100"
  />
</div>

      <div class="field">
        <label>اسم الجهة</label>
        <input
          type="text"
          [(ngModel)]="formModel.name"
          name="name"
          placeholder="مثال: الوحدة المحلية / شركة / جهة حكومية"
        />
      </div>
    </div>

    <div class="message success" *ngIf="successMessage">
      {{ successMessage }}
    </div>

    <div class="message error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <div class="actions">
      <button type="button" class="save-btn" (click)="save()" [disabled]="saving">
        {{ saving ? 'جاري الحفظ...' : 'حفظ الجهة' }}
      </button>

      <button type="button" class="cancel-btn" (click)="cancel()">
        إلغاء
      </button>
    </div>
  </div>
</div>